body{
    background-color:rgb(165, 165, 165);
    display: flex;
    justify-content: center;
}
#boxContainer  {
    height:  800px;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(190, 180, 164);
};
#boxcontainer .square {
    background-color:rgb(171, 216, 241);
    width: auto;
}