html{
    background-color: blanchedalmond;

}

#pageTitle{
     margin: auto;
     font-size: 80px;
     font-style: italic;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 30px;
     animation: color-change 3s infinite alternate;
}
@keyframes color-change {
    0%{color: rgb(146, 174, 184);}
    25%{color:rgb(180, 216, 216)}
    50%{color: rgb(195, 233, 233);}
    75%{color:rgb(160, 217, 252)}
    100%{color: rgb(165, 208, 252)}
}
#buttonBox {
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 40px;
}
#resetButton{
    padding: 10px;
    background-color: rgb(169, 182, 206);
    border-radius: 10px;
    font-style: italic;
}
#boxContainer  {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin: auto;
}
.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    border: solid black;
    border-width: 1px 1px;
}
.square {
    flex: 1;
    background:rgb(207, 162, 238);
    border: solid black;
    border-width: 0px 1px;
}